/* Global */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);
/* Estilos personalizados */
#TabBancos,.EstContinuarComprando,.EstPassoCompraDiv{display:none}

/* Header */
.HeaderPedLogo{margin:50px 0px 0px 0px;}
.HeaderPedBackground{background-color:<tag-FCCSSMainColor>;width:100%;height:5px;}

/* Footer */
.FooterTecBoxFC{background-color:<tag-FCCSSColor7>;width:100%;height:50px;margin:50px 0px 0px 0px}
.FooterTecBoxFC p{margin:16px 0px 0px 0px}
.FooterPedCompany{margin:20px 0px 0px 0px}
.FooterPedCompany p{font-family:'Roboto',Arial,sans-serif !important;font-weight:300;}
.FooterPedAddFastCommerceData{font-family:'Roboto',Arial,sans-serif !important;font-weight:300;font-size:0.85em;}